body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;             
  height: 12px;             
}

::-webkit-scrollbar-track {
  background: #f0f0f0;      
}

::-webkit-scrollbar-thumb {
  background-color: #375534; 
  border-radius: 6px;
  border: 2px solid #f0f0f0; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7abd74; 
}

/* Hide horizontal scrollbar globally */
::-webkit-scrollbar:horizontal {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.10); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

/* Hide scrollbar but allow scrolling */
.custom-scrollbar {
  overflow-y: auto;       /* enable scrolling */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Opera */
}

@media (max-width: 767px) {
  .hide-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

